
.host-picture {
	display: inline-block;
	background-image: url(../../resources/placeholder-host.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 24pt;
	height: 24pt;
	border-radius: 0px;
	vertical-align: middle;
}

.rating {
	width: 56pt;
	height: 12pt;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	position: relative;
}

.rating:before,
.rating .with-empty:before {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	font-size:11.33pt;
	color: rgba(248, 182, 44, 1);
}

.rating .with-empty:before {
	right: 0px;
	left: auto;
	color: rgba(177, 191, 204, 0.3);
}

.rating-5:before { content: "WWWWW"; }
.rating-4:before { content: "WWWW"; }
.rating-3:before { content: "WWW"; }
.rating-2:before { content: "WW"; }
.rating-1:before { content: "W"; }
.rating-0:before { content: ""; }

.rating-5 .with-empty:before { content: ""; }
.rating-4 .with-empty:before { content: "X"; }
.rating-3 .with-empty:before { content: "XX"; }
.rating-2 .with-empty:before { content: "XXX"; }
.rating-1 .with-empty:before { content: "XXXX"; }
.rating-0 .with-empty:before { content: "XXXXX"; }

.boatday-card {
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	border: 1px solid rgba(84, 110, 122, 0.20);
	border-bottom: 2px solid rgba(84, 110, 122, 0.20);
	margin-bottom: 25px;
	height: 365px;
	cursor: pointer;
}

.boatday-card:hover{
	transform: scale(1.05);
}

.boatday-card .image {
	background-image: url(../../resources/placeholder-boatday.png);
	background-size: cover;
	background-position: center;
	height: 250px;
	position: relative;
}

.wrapper {
	position: relative;
}

.boatday-card .image .banner {
	position: absolute;
	bottom: 16px;
	background: #fff;
	font-size: 0;

}

.boatday-card .image .banner.left {
	left: 0px;
	border-radius: 0px 5px 5px 0px;
}

.boatday-card .image .banner.right {
	right: 0px;
	border-radius: 5px 0px 0px 5px;
}

.boatday-card .image .banner .rating {
	margin: 0px 9px;
	vertical-align: middle;
}

.boatday-card .image .banner label {
	color: #546e7a;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin: 0px 9px;
}

.boatday-card .details {
	background: rgba(255, 255, 255, 1);
	padding-bottom: 18px;
	padding-top: 19px;
}

.boatday-card .details h1 {
	color: rgba(84, 110, 122, 1);
	font-weight: 400;
	font-size: 16px;
	margin:0px;
	margin-left: 20px;
	margin-bottom: 15px;
	padding: 0px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
	text-transform: none;
}

.boatday-card .details .items {
 	margin-left: 20px;
	margin-right: 20px;
	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex; 

	-webkit-flex-flow: row nowrap;
	   -moz-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;

	-webkit-justify-content: space-between;
	   -moz-justify-content: space-between;
	    -ms-justify-content: space-between;
	        justify-content: space-between;
}

.boatday-card .details .items .item {
	display: inline-block;
	font-size: 0px;
}

.boatday-card .details .items .item .icon {
	width: 22px;
	height: 22px;
	line-height: 26px;
	color: rgba(84, 110, 122, 0.46);
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	text-align: center;
}

.boatday-card .details .items .item .label {
	color: rgba(84, 110, 122, 0.46);
	font-size: 11px;
	line-height: 14px;
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;
}

.boatday-card .share-boatday{
	float: right;
	margin: 10px;
}

.boatday-card .share-boatday span{
	color: rgba(0, 0, 0, 0.6);
	font-size: 2em;
}

.boatday-card .seats-remaining{
	height: 50px;
	width: 100px;
	background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 10px;
	border-radius: 5px;
}
.boatday-card .seats-remaining label{
	font-size: 0.9em;
	color: #ffffff;
	margin-top: 5px;
	font-weight: 500;
}