html, body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	background: #292c2e;
	padding-top: 91px;
	font-family: 'avenir book', sans-serif;
	letter-spacing: 1px;
}

* {
	color: #73879C;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	box-sizing: border-box;
}

a:hover {
	text-decoration: none;
	color: rgb(60, 175, 192);
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-property: all;
	-webkit-transition-timing-function: ease-out;
}

.btn {
	display: inline-block;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-transform: uppercase;
	font-size: 15px;
	background: #36b4c6;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px -2px 0px 0px inset;
	margin: 15px 0px;
	padding: 14px 26px;

}
.btn:focus, .btn:visited{
	color: rgb(255, 255, 255);
}

.btn:hover {
	color: rgb(255, 255, 255);
	opacity: 0.8;
}


header {
	background: white;
	border-bottom: 1px solid #4EBAC4;
	margin: 0px !important;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 10px 10px; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 10px 10px;
	padding: 20px 0px;
}

header .logo {
	height: 150%;
}

header .navbar-brand {
	padding: 0px 15px 15px 15px;
}

header a {
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #506A85;
}

header .btn {
	margin: 0px;
	background: transparent;
	color: #36b4c6;
	border: 1px solid #36b4c6;
	box-shadow: none;
	letter-spacing: 1px;
}

header .btn:focus{
	color: #36b4c6;
	background: white;
}

header .btn:hover {
	background: #36b4c6;
	color: rgb(255, 255, 255);
}
header a.host-log-in{
	margin-left: 10px;
	color: white !important;
	background: #36b4c6;
}

header a.host-log-in:hover{
	background: #36b4c6;
	color: rgb(255, 255, 255);
}


main {
	background: white;
}

.res {
	background: orange;
	position: fixed;
	padding: 20px;
	bottom: 20px;
	left: 20px;
	z-index: 9999999;
}


section {
	text-align: center;
}

section:not(.main-swiper){
	padding-left: 10px;
	padding-right: 10px;
}

section > .container {
	padding: 120px 0px !important;
}

section h1 {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 44px;
	font-weight: 300;
	line-height: 60px;
	color: rgb(115, 135, 156);
	text-align: center;
	text-transform: uppercase;
}

section h2 {
	font-size: 36px;
	font-weight: 300;
	line-height: 34px;
	margin-bottom: 60px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
}

section h3 {
	font-size: 24px;
	font-weight: 300;
	line-height: 34px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

section h4 {
	color: rgb(115, 135, 156);
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
}

section h5 {
	color: rgb(115, 135, 156);
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 15px;
	margin-top: 20px;
	text-align: center;
}

section h6 {
}

section p {
	color: rgb(115, 135, 156);
	font-size: 22px;
	line-height: 33px;
	margin: 0px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 300;
}

section.blured-01 {
	background: url(../../resources/section-blurred-01.jpg) center center no-repeat;
	background-size: cover;
}

section.blured-02 {
	background: url(../../resources/section-blurred-02.jpg) center center no-repeat;
	background-size: cover;
}

section.blured-03 {
	background: url(../../resources/section-blurred-03.jpg) center center no-repeat;
	background-size: cover;
}

section.blured * {
	color: rgb(255, 255, 255);
}

section.blured p {
	font-size: 16px;
	line-height: 25px;
	padding-left: 20px;
	padding-right: 20px;
}

section.blured-02 img {
	max-width: 100%;
}

section.phone-screenshot .container {
	padding-top: 0px !important;
}

section.phone-screenshot img{
	max-width: 100%;
}

section .box {
	margin-top: 80px;
	background: rgb(245, 247, 250);
	min-height: 230px;
	padding: 25px;
	border: 1px solid rgb(230, 233, 237);
	border-top: 2px solid rgb(11, 184, 200);
	border-bottom: 2px solid rgb(230, 233, 237);
	border-radius: 0px 0px 3px 3px;
}

section .box.no-top-border {
	border-top: 1px solid rgb(230, 233, 237);
}

section .heading-for-box {
	margin-top: 80px;
	width: 100%;
}

section .heading-for-box ~ .box {
	margin-top: 0px;
	border-top: none;
}	

section .box p {
	color: rgb(115, 135, 156);
	font-size: 14px;
	line-height: 22px;
	margin: 0px;
	padding-bottom: 0px;
	text-align: center;
}

section.legal-text p{
	font-size: 1.1em;
}

section.legal-text h2{
	margin-bottom: 20px;
}

section.legal-text p, 
section.legal-text h2{
	text-align: left;
}

section.legal-text h1{
	text-align: center;
	padding-bottom: 0px;
}


section.legal-text p.legal-date{
	text-align: center;
	margin-bottom: 50px;
	padding-top: 20px;
}

section.legal-text hr.header-underline{
	width: 400px;
	height: 3px;
	background-color:#36b4c6;
}

section.legal-text h2{
	padding: 50px 0px 0px 0px;
}

section.placeholder {
	height: 600px;
	max-height: 40vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.legal  section.placeholder { 
	background-image: url(../../resources/legal_header.jpg); 
	padding: 300px;
}

.boatdays  section.placeholder { 
	background-image: url(../../resources/boatdays_display_header.jpg); 
	padding: 300px;
}

.hosts  section.placeholder { 
	background-image: url(../../resources/host_cover_img.jpg); 
	padding: 300px;
}
.faq section.placeholder { background-image: url(../../resources/swiper-main04.jpg); 
	padding: 300px;
}

.swiper-pagination-bullet {
	background: #506A85;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: rgb(54, 180, 198);
	opacity: 1;
}

.main-swiper, .boatdays-swiper {
	position: relative;
}

.main-swiper .swiper-pagination {
	display: block;
	position: relative;
	bottom: 0px;
}

.main-swiper .swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	margin: 10px 2px;
}

.main-swiper .swiper-slide {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/*


.main-swiper .slide-2 > .container,
.main-swiper .slide-3 > .container,
.main-swiper .slide-4 > .container,
.main-swiper .slide-5 > .container {
	margin: 200px auto 50px auto; 
	min-height: 350px;
}
*/
.main-swiper .swiper-slide > .container {
	margin: 120px auto;
	min-height: 350px;
}

.main-swiper .swiper-slide > .container span {
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 4px;
	line-height: 60px;
	padding: 18.25px 0px;
	text-align: right;
	text-transform: uppercase;
	text-shadow: 1px  0px  1px #696E6B, 
				-1px  0px  1px #696E6B, 
				 0px  1px  1px #696E6B, 
				 0px -1px  1px #696E6B;
	font-family: Arial;
}

.main-swiper .swiper-slide p {
	color: white;
	text-shadow: 1px  0px  1px rgba(0, 0, 0, 0.40),
				-1px  0px  1px rgba(0, 0, 0, 0.40), 
				 0px  1px  1px rgba(0, 0, 0, 0.40), 
				 0px -1px  1px rgba(0, 0, 0, 0.40);
	margin-top: 30px;
}


.main-swiper .slide-1 { background-image: url(../../resources/swiper-main01.jpg); }
.main-swiper .slide-2 { background-image: url(../../resources/swiper-main02.jpg); }
.main-swiper .slide-3 { background-image: url(../../resources/swiper-main03.jpg); }
.main-swiper .slide-4 { background-image: url(../../resources/swiper-main04.jpg); }
.main-swiper .slide-5 { background-image: url(../../resources/swiper-main05.jpg); }

.modal-body {
	max-height: 90vh;
	overflow: auto;
}

#modal-terms * {
	font-size: 10px;
}


/*
body.faq .placeholder {
	height: auto;
	max-height: none;
	padding: 0px;
}

body.faq .placeholder .container {
	margin: 0px;
	padding: 40px 0px 40px 0px;
}

body.faq .placeholder .container ul li {
	text-align: left;
	color: white;
}
*/

section.faq .row .faq-col{
	margin-top: 70px;
}

section.faq .row .faq-col h4{
	font-size: 1.8em;
}

section.faq h5{
	font-size: 1.5em;
}

section.faq a {
	color: #36b4c6;
}
section.faq a:hover{
	text-decoration: underline;
}

section.faq ul li a{
	font-size: 1.20em;
	line-height: 30px;
}


section.faq.blured h2 {
	margin: 0px !important;
}

section.faq:not(.blured) .container {
	padding: 30px !important;
}

section.faq.blured .container {
	padding: 40px 0px !important;
}

section.faq,
section.faq p,
section.faq h4,
section.faq h5 {
	text-align: left;
}

section.faq .back-to-top {
	text-align: left;
	margin-bottom: 140px;
	margin-top: 20px;
}



section.faq p {
	font-size: 15px;
	line-height: 25px;
	margin: 0px;
	margin-bottom: 0px;
}

section.faq img {
	max-width: 100%;
	display: block;
	margin: 0px auto;
}

section.faq h5.title {
	color: #36b4c6;
	margin-top: 10px;
}

section.faq h5 {
	font-size: 18px;
}

#modal-download img.logo {
	height: 80px;
	margin: 20px auto;
}

#modal-download div.dls {
	font-size: 0;
}

#modal-download img.dl {
	max-width: 60%;
	margin-top: 5px;
	cursor: pointer;
}

#modal-download p {
	margin: 20px 0px;
}

#modal-youtube-video .modal-content{
	width: 675px;
}

section.hosts p {
	font-size: 16px;
	line-height: 24px;
}

section.hosts .swiper-container {
	padding-bottom: 40px;
}

section.hosts .host-picture {
	width: 150px;
	height: 150px;
	border-radius: 6px;
}

section.hosts h1 {
	margin-bottom: 40px;
}

section.hosts .rating {

}

section.hosts .ratingAmount {
	color: #36b4c6;
}

section.join-boatday .container{
	padding-top: 0px !important;
}

section.join-boatday .container h4.title{
	margin-top: 70px;
	margin-bottom: 0px;
}

.or-hr{
	height: 1px; 
	background-color: #F3EFEF; 
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.or-hr span{
	position: relative; 
	top: -0.7em;
	font-size: 18px;
	background-color: #FFFFFF;
	border: 1px solid #F3EFEF;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	padding: 5px 10px 5px 10px;
}

section.options .container{
	padding-bottom: 0px !important;
}

section.options .row .date-col-from,
section.options .row .date-col-to{
	padding: 0px 5px 0px 0px;
}

a.learn-more{
	display: block;
	margin-top: 10px;
	color: rgb(115, 135, 156);
}
a.learn-more:hover{
	text-decoration: underline;
}

#modal-safety p.safety-para{
	margin-bottom: 30px;
	margin-top: 10px;
}

/* Media Queries */
@media (max-width: 767px) { 
	section.options .row .date-col-from,
	section.options .row .date-col-to{
		padding: 0px;
	}
}

