html, body {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	background: #292c2e;
	padding-top: 70px;
	font-family: 'avenir book', sans-serif;
}

* {
	color: #73879C;
}

a:hover {
	text-decoration: none;
}

header {
	background: white;
	border-bottom: 1px solid #4EBAC4;
}

header .logo {
	height: 100%;
}

header .navbar-brand {
	padding: 10px 15px;
}

header a {
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #506A85;
}

.res {
	background: orange;
	position: fixed;
	padding: 20px;
	bottom: 20px;
	left: 20px;
	z-index: 9999999;
}

@media screen and (max-width: 767px) {
	
}